@font-face {
    font-family: "HarmoniaSans";
    src:
        url("../fonts/HarmoniaSans.otf") format("opentype"),
        url("../fonts/HarmoniaSans.ttf") format("truetype");
}

@font-face {
    font-family: "InterUI";
    src:
        url("../fonts/Inter-UI-Regular.woff") format("woff"),
        url("../fonts/Inter-UI-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "InterUIMedium";
    src:
        url("../fonts/Inter-UI-Medium.woff") format("woff"),
        url("../fonts/Inter-UI-Medium.woff2") format("woff2")
}

body {
    /* Shifts body so navigation bar does not overlap it.
    Make sure to include this after the core Bootstrap CSS. */
    font-family: InterUIMedium;
    font-size: 16px;
    padding-top: 60px;
    overflow-y: overlay;
    background-color: #eff4f5;
}

.medium-text {
    font-family: HarmoniaSans;
    font-size: 24px;
}

.small-text {
    font-family: HarmoniaSans;
    font-size: 18px;
}

.xs-text {
    font-family: InterUI;
    font-size: 15px;
}

.medium-thin-text {
    font-family: InterUI;
    font-size: 22px;
}

.small-thin-text {
    font-family: InterUI;
    font-size: 16px;
}

.orange-color {
    color: #f44a03;
}

.blue-color {
    color: #3a9eb4;
}

.brown-color {
    color: #b53434;
}

h2 {
    font-size: 24px;
}

a {
    color: #0097da;
}

a:hover {
    color: #00587f;
}

.header-tag-name {
    color: gray;
    font-style: italic;
}

.keyword {
    font-weight: bold;
}

.name {
    font-weight: normal;
    padding-right: 50px;
}

.tags a {
    color: #2f2929;
}

.argument {
    font-family: HarmoniaSans;
    font-size: 20px;
    color: #005171;
}

.collapsible-text {
    font-weight: bold;
}

.indention {
    padding-left: 3px;
}

.inner-level {
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 2px;
    padding-left: 1px;
}

.element {
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    border-color: #d7d9dc;
    border-style: solid;
    border-width:thin;
    border-radius: 3px;
}

.element-status {
    padding: 2px 6px 2px 6px;
    border-radius:3px;
    font-family: HarmoniaSans;
    font-size: 18px;
    color: white;
}

.feature-status {
    padding: 2px 6px 2px 6px;
    border-radius:3px;
    border: 1px solid lightgray;
    font-family: HarmoniaSans;
    font-size: 24px;
}

/* left line along each section */
.steps, .hooks-after, .hooks-before {
    box-shadow:  -1px 0 lightgray;
    transition: box-shadow 0.3s;
}

.step:hover {
    background-color: #ecf5f6;
}

.feature-bar {
    padding-left:5px;
    box-shadow: -1px 0 lightgray;
}

.element:hover, .steps:hover, .hooks-after:hover, .hooks-before:hover {
    box-shadow: -3px 0 #6ce;
}

.description {
    padding: 6px;
    background-color: #f4e8d9;
    white-space: pre;
}

.description:empty {
    display:none;
}

.message, .output, .embedding {
    background-color: #e9f1f2;
    overflow: auto;
}

/*
   same as <pre> from bootstrap library.
   padding and overflow-x added.
*/
.embedding-content {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    overflow-x: auto;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.html-content {
    position: relative;
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding: 0 0 56.25%;
    height: 0;
    overflow: hidden;
}

.html-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
}

.download-button {
    float: right;
    margin-right: 10px;
    color: #333;
}

/* names of those classes must be the same as name of the statuses (to lower case) in Status class  */
.passed {
    background-color: none;
    box-shadow: inset -8px 0px 0px 0px #94d477;
}

.failed {
    background-color: none;
    box-shadow: inset -8px 0px 0px 0px #F7756C;
}

.failed-step {
    background-color: #F7756C;
    color:white;
    padding: 5px 0 5px 0;
}

.skipped {
    background-color: none;
    box-shadow: inset -8px 0px 0px 0px #8AF;
}

.skipped-step {
    background-color: #8AF;
    padding: 5px 0 5px 0;
}

.pending {
    background-color: none;
    box-shadow: inset -8px 0px 0px 0px #F5F28F;
}

.pending-step {
    background-color: #F5F28F;
    padding: 5px 0 5px 0;
}

.undefined {
    background-color: none;
    box-shadow: inset -8px 0px 0px 0px #F5B975;
}

.undefined-step {
    background-color: #F5B975;
    padding: 5px 0 5px 0;
}

.step {
    border-bottom: 1px solid #e9f1f2;
    padding: 5px 0 5px 0;
    line-height: 1;
}

/** additional space before Given keyword to keep space between steps **/
.step-name-Given {
    margin-top: 5px;
}

.step-name-And {
    padding-left: 13px;
}

.step-name-Then {
    padding-left: 5px;
}

.lead-duration {
    float: right;
    color: black;
    padding: 5px 18px 0 0;
    font-family: InterUIMedium;
    font-size: 14px;
}

table.stats-table {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    width: 100%;
}

table.stats-table th, table.stats-table td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}

table.stats-table tr.header {
    background-color: #3a9eb4;
    color: white;
}

table.stats-table tfoot {
    font-weight: bold;
}

tfoot.total, td.total, th.total {
    background-color: #f7ece1;
}

table.stats-table td.duration {
    text-align: right;
    white-space: nowrap;
}

table.stats-table td.tagname {
    text-align: left;
}

table.stats-table td.location, .location {
    font-family: monospace;
    text-align: left;
}

table.step-arguments {
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: 3px;
}

table.step-arguments th, table.step-arguments td {
    border: 1px solid gray;
    padding: 3px;
    text-align: left;
}

table#tablesorter thead tr:not(.dont-sort) th {
    cursor: pointer;
}

tr:hover {
    transition: background-color 0.3s;
}

.collapsable-control {
    cursor: pointer;
}

.chevron:after {
    content: "\f078";
}

.comment {
    padding: 6px;
    background-color: #d2dce3;
    white-space: pre;
    font-family: InterUI;
    font-size: 14px;
}

.collapsed .chevron:after {
    content: "\f054";
}

.footer {
    font-size: smaller;
    text-align: center;
    margin-bottom: 0px;
}

/* Custom Bootstrap CSS overloading. */
.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-control {
    font-size: 40px;
    padding-top: 150px;;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #eee;
}

pre {
    margin: 10px;
    background-color: #485051;
    color: white;
    border: none;
}

#footer {
    padding-right: 20px;
    margin-bottom: 0;
}
