body {
    /* Shifts body so navigation bar does not overlap it.
    Make sure to include this after the core Bootstrap CSS. */
    padding-top: 60px;
}

h2 {
    font-size: 24px;
}

a {
    color: #0097da;
}

a:hover {
    color: #00587f;
}

.header-tag-name {
    color: gray;
    font-style: italic;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.keyword-key {
    font-weight: bold;
}

.keyword-value {
    font-weight: normal;
}

.keyword-feature, .description, .keyword-key {
    padding-left: 3px;
}

.elements, .embeddings, .message {
    padding-left: 25px;
}

.element {
    margin-top: 15px;
    padding-left: 3px;
}

.element:hover {
    border-left: 2px solid;
    padding-left: 1px;
}

.steps {
    margin-top: 15px;
    padding-left: 25px;
}

.description {
    font-style: italic;
    background-color: beige;
}

.message {
    background: white;
    margin-bottom: 5px;
    overflow: auto;
    white-space: nowrap;
}

/* names of those classes must be the same as name of the statuses (to lower case) in Status class  */
.passed {
    background-color: #92DD96;
}

.failed {
    background-color: #F2928C;
}

.skipped {
    background-color: #8AF;
}

.pending {
    background-color: #F5F28F;
}

.undefined {
    background-color: #F5B975;
}

.missing {
    background-color: #FAB3E9;
}

.report-duration {
    float: right;
    padding-right: 15px;
}

table.stats-table {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    width: 100%;
}

table.stats-table th, table.stats-table td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}

table.stats-table tr.header {
    background-color: #66CCEE;
}

table.stats-table tfoot {
    background-color: lightgray;
    font-weight: bold;
}

table.stats-table td.duration {
    text-align: right;
    white-space: nowrap;
}

table.stats-table td.tagname {
    text-align: left;
}

table.stats-table td.location, .location {
    font-family: monospace;
    text-align: left;
}

table.arguments-table {
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: 3px;
}

table.arguments-table th, table.arguments-table td {
    border: 1px solid gray;
    padding: 3px;
    text-align: left;
}

table#tablesorter thead tr th {
    cursor: pointer;
}

.footer {
    font-size: smaller;
    text-align: center;
    margin-top: 30px;
}



/* Custom Bootstrap CSS overloading. */
.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-control {
    font-size: 40px;
    padding-top: 150px;;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}
