#macro(includeBuildInfo)

<table class="table table-bordered" id="build-info" style="background-color:white">
  <thead>
    <tr style="background-color:#e7f0e8">
      <th>Project</th>
      #if($build_number)
        <th>Number</th>
      #end
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$build_project_name</td>
      #if($build_number)
        <td>$build_number</td>
      #end
      <td>$build_time</td>
    </tr>
  </tbody>
</table>

#end
