#macro(includeLead, $page_title, $page_description)
<div id="report-lead" class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <h2>$page_title</h2>
    #if($page_description)
      <p>$page_description</p>
    #end
  </div>
</div>
#end
