$(document).ready(function() {

    var chartData = {
        labels: #stringArray($chart_categories),
        datasets: [
            {
                label: "Passed",
                backgroundColor: "#92DD96",
                data: #numberArray($chart_data[0])
            },
            {
                label: "Failed",
                backgroundColor: "#F2928C",
                data: #numberArray($chart_data[1])
            },
            {
                label: "Skipped",
                backgroundColor: "#8AF",
                data: #numberArray($chart_data[2])
            },
            {
                label: "Pending",
                backgroundColor: "#F5F28F",
                data: #numberArray($chart_data[3])
            },
            {
                label: "Undefined",
                backgroundColor: "#F5B975",
                data: #numberArray($chart_data[4])
            }
        ]
    };

    var context = document.getElementById("tags-chart");
    window.myBar = new Chart(context, {
        type: "bar",
        data: chartData,
        options: {
            tooltips: {
                mode: "label"
            },
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });

});