<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="message">
        <pre>Test page</pre>
      </div>
      <div>Trying to generate report from following files. Make sure they are valid cucumber report files:</div>
    </div>
  </div>
</div>
</body>
</html>
