env:
  global:
    # COVERITY_SCAN_TOKEN
    - secure: "DUEDJq7FNTomeYYm45CdUg"
    
language: java

jdk:
  - oraclejdk7 
  - oraclejdk8
  - openjdk7

after_success:
  bash <(curl -s https://codecov.io/bash)

addons:
  coverity_scan:
    project:
      name: "damianszczepanik/cucumber-reporting"
      description: "Build submitted via Travis CI"
    # Where email notification of build analysis results will be sent
    notification_email: damian.publicemail@gmail.com
    # Commands to prepare for build_command
    build_command_prepend: "mvn clean"
    # The command that will be added as an argument to "cov-build" to compile your project for analysis,
    build_command:   "mvn -DskipTests=true compile"
    # Pattern to match selecting branches that will run analysis.
    # There is no many activity on master so launch from this branch once changes are pushed/merged
    branch_pattern: master
