language: java

dist: precise

cache:
  directories:
  - ~/.m2
  - ~/.sonar/cache

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   # via the "travis encrypt" command using the project repo's public key
   - secure: "erPk0ACAA2A4i+ik4RKhLS6xAWRqC03KuaQ8dD91Oy8fsIRJdTu7w+woATRW2rESak6qHsp0aZvzEz9WaIrxFxpn/8DEPPgXQK/Hz3bm+zySTwELy0HCEO+ATEbdGMjpSoGlDRUS3eu0zBGOfZHI7Jp3LQYiycZO7PIzaxWo2UI="

before_install:
  # Workaround for issue http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7089443
  - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts | sudo tee /etc/hosts

addons:
  hosts:
    - myshorthost
  hostname: myshorthost

matrix:
  include:
    - jdk: oraclejdk7
      script: mvn clean test

    - jdk: openjdk7
      # use 'verify' phrase to execute integration tests
      script: mvn clean verify

    - jdk: oraclejdk8
      script: mvn clean verify

    - jdk: oraclejdk8
      script:
        - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar

after_success:
  # push report to codecov server
  bash <(curl -s https://codecov.io/bash)

addons:
  coverity_scan:
    project:
      name: "damianszczepanik/cucumber-reporting"
      description: "Build submitted via Travis CI"
    # Where email notification of build analysis results will be sent
    notification_email: damian.publicemail@gmail.com
    # Commands to prepare for build_command
    build_command_prepend: "mvn clean"
    # The command that will be added as an argument to "cov-build" to compile your project for analysis,
    build_command: "mvn -DskipTests=true compile"
    # Pattern to match selecting branches that will run analysis.
    branch_pattern: master

  sonarqube:
    token:
      secure: $SONAR_TOKEN
  branches:
    - master
