<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Trends Overview")

  <script>
  #parse("/templates/js/trends-chart.js.vm")
  </script>
</head>
<body>

#includeNavigation("trends")

#includeReportInfo()

#includeLead("Trends Statistics", "The following graph shows features, scenarios and steps for a period of time.")

<div class="container-fluid" id="charts">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Features:</h4>
      <canvas id="trends-features-chart" height="50"></canvas>
      <br/>

      <h4>Scenarios:</h4>
      <canvas id="trends-scenarios-chart" height="50"></canvas>
      <br/>

      <h4>Steps:</h4>
      <canvas id="trends-steps-chart" height="50"></canvas>
      <br/>

      <h4>Durations:</h4>
      <canvas id="trends-durations-chart" height="50"></canvas>
    </div>
  </div>
</div>
<br/>

#include("/templates/footer.vm")

</body>
</html>
