<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Feature: $feature.getName()")
</head>
<body>

#includeNavigation()

#includeReportInfo()

#includeLead("Feature Report")

#includeReportTable("Feature", $feature)

#includeExpandingButtons()

<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="feature">
        <div class="feature-bar">
          <span class="small-thin-text" style="color:#59737b"><i class="fa fa-edit"></i><b> Uri: </b>$feature.getUri()</span>
          #includeTags($feature.getTags())
          #includeBrief($feature.getKeyword(), $feature.getStatus(), $feature.getName())
          <div class="description indention small-thin-text">$feature.getDescription()</div>
          <div class="elements inner-level">
            #foreach($element in $feature.getElements())
              <br/>
              #includeElement($element, false)
            #end
          </div>
          <br/>
          <span class="feature-status">$feature.getStatus()</span>
        </div>
      </div>
    </div>
  </div>
</div>

#includeExpandingButtons()
<br/>

#include("/templates/footer.vm")

</body>
</html>
