#macro(includeDifferentOutputs, $outputs)

#foreach($output in $outputs)
  <div class="outputs inner-level">
    <div class="output indention">
      #set($outputId = $counter.next())
      <div data-toggle="collapse" class="collapsable-control" data-target="#output-$outputId">
        #set($index = $foreach.index + 1)
        <a>Output $index</a>
      </div>
      <div id="output-$outputId" class="collapse collapsable-details">
        <pre style="white-space: pre-wrap;">#foreach($message in $output.getMessages())<span>$message</span><br>#end</pre>
      </div>
    </div>
  </div>
#end

#end
