#macro(includeElement, $element, $linkToFeature)

<div class="element">
  #if ($linkToFeature)
    <div class="indention">
      <a href="$element.getFeature().getReportFileName()">View Feature</a> <i>$element.getFeature().getName()</i>
    </div>
  #end

  #includeTags($element.getTags())

  <span data-toggle="collapse" class="#if ($element.getElementStatus().isPassed()) collapsed #end collapsable-control" data-target="#element-$element.hashCode()">
    #includeBrief($element.getKeyword(), $element.getElementStatus(), $element.getName(), true)
  </span>
  <div class="description indention">$element.getDescription()</div>

  <div id="element-$element.hashCode()" class="collapse collapsable-details #if(!$element.getElementStatus().isPassed()) in #end">
    #includeHooks("Before", $element.getBefore(), $element.getBeforeStatus())

    #includeSteps($element.getSteps())

    #includeHooks("After", $element.getAfter(), $element.getAfterStatus())
  </div>
</div>

#end
