#macro(includeFeaturesScenarioTable, $table_key, $parallel, $featuresDetail, $buildNumbers)

<table id="tablesorter" class="stats-table table-hover">
  <thead>
    <tr>
        <th>Feature</th>
        <th>Scenario</th>
        #foreach($buildNumber in $buildNumbers)
        <th>$buildNumber</th>
        #end
    </tr>
  </thead>

  <tbody>
    #foreach($item in $featuresDetail)
    #set ($myArray = $item.split(";"))
      <tr>
        <td class="tagname">$myArray[0]</td>
        <td class="tagname">$myArray[1]</td>
        <td class="tagname">$myArray[2]</td>

      </tr>
    #end
  </tbody>

  <tfoot class="total">
    <tr>
      <td></td>
      #if ($parallel)
        <td>-</td>
      #end

    </tr>
    <tr>
      <td></td>
      #if ($parallel)
        <td>-</td>
      #end

    </tr>
  </tfoot>
</table>

#end
