#macro(includeFeaturesScenarioTable, $table_key, $items, $buildNumbers)

<table id="tableTrend" class="stats-table table-hover">
  <thead>
    <tr>
        <th rowspan="2">Feature</th>
        <th rowspan="2">Scenario</th>
        <th colspan=$buildNumbers.size()>Build Number</th>
    </tr>
    <tr>
        #foreach($buildNumber in $buildNumbers)

            <th>$buildNumber</th>
        #end
    </tr>
  </thead>
  <tbody>
  #foreach($item in $items)
        <tr>
            <td class="tagname">$item.getFeatureName()</td>
            <td class="tagname">$item.getScenarioName()</td>
            #foreach($status in $item.getStatuses())
                            <td class="#if ($status=='P') passed #elseif($status=='F') failed #elseif($status=='S')skipped #end">$status</td>

            #end
        </tr>
         #end
  </tbody>

</table>

#end
