#macro(includeHooks, $keyword, $hooks, $status)

#if($hooks.size() > 0)
  #foreach($hook in $hooks)
    <div class="hook $keyword.toLowerCase()">
      <div class="brief $hook.getStatus().getRawName()">
        <span class="keyword indention">$keyword</span>
        #if ($hook.getMatch())
          <span class="location name">$hook.getMatch().getLocation()</span>
        #end
        #includeDuration($hook.getResult())
      </div>

      #if ($hook.getResult())
        #includeMessage("Error message", $hook.getResult().getErrorMessage())
      #end
    </div>
  #end
#end

#end
