#macro(includeMessage, $messageName, $message)

#if ($message)
  #set($msgId = $counter.next())

  <div class="inner-level">
    <div class="message indention">
      <div data-toggle="collapse" class="collapsable-control" data-target="#msg-$msgId" aria-expanded="true">
          <a>$messageName: $message.split("\r\n|\r|\n")[0]</a>
      </div>
      <div id="msg-$msgId" class="collapsable-details collapse in" aria-expanded="true">
        <pre style="white-space: pre-wrap;">$message</pre>
      </div>
    </div>
  </div>
#end

#end
