#macro(includeMessage, $messageName, $message)

#if ($message)
  <div class="inner-level">
    <div class="message indention">
      <span data-toggle="collapse" class='collapsable-control' data-target='#msg-$message.hashCode()'>
        <div>
          $messageName
        </div>
      </span>
      <div id="msg-$message.hashCode()" class="collapse collapsable-details"><pre>$message</pre></div>
    </div>
  </div>
#end

#end
