#macro(includeOutput, $output)

#if ($output)
  <div class="outputs inner-level">
	<pre style="white-space: pre-wrap;">#foreach($message in $output.getMessages())<span>$message</span><br>#end</pre>
  </div>
#end

#end
