#macro(includeStatsTable, $table_key, $items, $report_summary)

<table id="tablesorter" class="stats-table table-hover">
  #includeReportHeader($table_key)

  <tbody>
    #foreach($item in $items)
      <tr>
        <td class="tagname"><a href="$item.getReportFileName()">$item.getName()</a></td>
        #if ($parallel_testing)
          <td>$item.getQualifier()</td>
        #end

        <td #if ($item.getPassedSteps() > 0)     class="passed"    #end>$item.getPassedSteps()</td>
        <td #if ($item.getFailedSteps() > 0)     class="failed"    #end>$item.getFailedSteps()</td>
        <td #if ($item.getSkippedSteps() > 0)    class="skipped"   #end>$item.getSkippedSteps()</td>
        <td #if ($item.getPendingSteps() > 0)    class="pending"   #end>$item.getPendingSteps()</td>
        <td #if ($item.getUndefinedSteps() > 0)  class="undefined" #end>$item.getUndefinedSteps()</td>
        <td class="total">$item.getSteps()</td>

        <td #if ($item.getPassedScenarios() > 0) class="passed"    #end>$item.getPassedScenarios()</td>
        <td #if ($item.getFailedScenarios() > 0) class="failed"    #end>$item.getFailedScenarios()</td>
        <td class="total">$item.getScenarios()</td>

        <td class="duration" data-value="$item.getDuration()">$item.getFormattedDuration()</td>
        <td class="$item.getStatus().getRawName()">$item.getStatus().getLabel()</td>
      </tr>
    #end
  </tbody>

  <tfoot class="total">
    <tr>
      <td></td>
      #if ($parallel_testing)
        <td></td>
      #end
      <td>$report_summary.getPassedSteps()</td>
      <td>$report_summary.getFailedSteps()</td>
      <td>$report_summary.getSkippedSteps()</td>
      <td>$report_summary.getPendingSteps()</td>
      <td>$report_summary.getUndefinedSteps()</td>
      <td>$report_summary.getSteps()</td>

      <td>$report_summary.getPassedScenarios()</td>
      <td>$report_summary.getFailedScenarios()</td>
      <td>$report_summary.getScenarios()</td>

      <td class="duration">$report_summary.getFormattedDuration()</td>
      <td>$items.size()</td>
    </tr>
    <tr>
      <td></td>
      #if ($parallel_testing)
        <td></td>
      #end
      <td>$util.formatAsPercentage($report_summary.getPassedSteps(), $report_summary.getSteps())</td>
      <td>$util.formatAsPercentage($report_summary.getFailedSteps(), $report_summary.getSteps())</td>
      <td>$util.formatAsPercentage($report_summary.getSkippedSteps(), $report_summary.getSteps())</td>
      <td>$util.formatAsPercentage($report_summary.getPendingSteps(), $report_summary.getSteps())</td>
      <td>$util.formatAsPercentage($report_summary.getUndefinedSteps(), $report_summary.getSteps())</td>
      <td></td>
      <td>$util.formatAsPercentage($report_summary.getPassedScenarios(), $report_summary.getScenarios())</td>
      <td>$util.formatAsPercentage($report_summary.getFailedScenarios(), $report_summary.getScenarios())</td>
      <td></td>
      <td></td>
      <td>$util.formatAsPercentage($report_summary.getPassedFeatures(), $report_summary.getFeatures())</td>
    </tr>
  </tfoot>
</table>

#end
