#macro(includeStatsTable, $table_key, $parallel, $elements, $report_summary)

<table id="tablesorter" class="stats-table">
  #includeReportHeader($table_key, $parallel)

  <tbody>
    #foreach($element in $elements)
      <tr>
        <td class="tagname"><a href="$element.getReportFileName()">$element.getName()</a></td>
        #if($parallel)
          <td>$element.getDeviceName()</td>
        #end

        <td>$element.getScenarios()</td>
        <td>$element.getPassedScenarios()</td>
        <td>$element.getFailedScenarios()</td>
        <td>$element.getSteps()</td>
        <td>$element.getPassedSteps()</td>
        <td #if($element.getFailedSteps() > 0)    class="failed"    #end>$element.getFailedSteps()</td>
        <td #if($element.getSkippedSteps() > 0)   class="skipped"   #end>$element.getSkippedSteps()</td>
        <td #if($element.getPendingSteps() > 0)   class="pending"   #end>$element.getPendingSteps()</td>
        <td #if($element.getUndefinedSteps() > 0) class="undefined" #end>$element.getUndefinedSteps()</td>
        <td #if($element.getMissingSteps() > 0)   class="missing"   #end>$element.getMissingSteps()</td>
        <td class="duration" data-value="$element.getDurations()">$element.getFormattedDurations()</td>
        <td class="$element.getStatus().getRawName()">$element.getStatus().getLabel()</td>
      </tr>
    #end
  </tbody>

  <tfoot>
    <tr>
      <td>$elements.size()</td>
      #if($parallel)
        <td>-</td>
      #end
      <td>$report_summary.getScenarios()</td>
      <td>$report_summary.getPassedScenarios()</td>
      <td>$report_summary.getFailedScenarios()</td>
      <td>$report_summary.getSteps()</td>
      <td>$report_summary.getPassedSteps()</td>
      <td>$report_summary.getFailedSteps()</td>
      <td>$report_summary.getSkippedSteps()</td>
      <td>$report_summary.getPendingSteps()</td>
      <td>$report_summary.getUndefinedSteps()</td>
      <td>$report_summary.getMissingSteps()</td>
      <td class="duration">$report_summary.getFormattedDurations()</td>
      <td>Totals</td>
    </tr>
  </tfoot>
</table>

#end
