#macro(includeSteps, $steps)

<div class="steps inner-level">
  <div data-toggle="collapse" class="#if ($element.getElementStatus().isPassed()) collapsed #end collapsable-control" data-target="#steps-$element.getSteps().hashCode()">
    #includeBrief("Steps", $element.getStepsStatus(), "", true)
  </div>

  <div id="steps-$element.getSteps().hashCode()" class="inner-level collapse collapsable-details #if (!$element.getElementStatus().isPassed()) in #end">
    #foreach($step in $element.getSteps())
      <div class="step">
        #includeBrief($step.getKeyword(), $step.getStatus(), $step.getName(), false, $step.getResult())
        #includeMessage("Error message", $step.getResult().getErrorMessage())

        #if (!$step.getRows().isEmpty())
          <table class="step-arguments">
            #foreach($row in $step.getRows())
              <tr>
                #foreach($cell in $row.getCells())
                  <td>$cell</td>
                #end
              </tr>
            #end
          </table>
        #end

        #includeDocString($step.getDocString())
        #includeOutput($step.getOutput())
        #includeEmbeddings($step.getEmbeddings())
      </div>
    #end
  </div>
</div>

#end
