<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Error Page</title>

<style>
.error-message {
    color:red;
    font-weight: bold;
    background-color: lightpink;
}
</style>
#parse("/templates/headers.vm")
</head>

<body>
#parse("/templates/navigation.vm")

#includeTitle("Error" "Something went wrong with project <i>$build_project_name</i>, build $build_number")

<div>
  <div id="error-message" class="error-message">
    <pre>$output_message</pre>
  </div>
  <span class="subhead">Trying to generate report from following files. Make sure they are valid cucumber report files:</span>
  <ul>
    #foreach($file in $json_files)
      <li>$file
    #end
  </ul>
</div>


#include("/templates/footer.html")                        

</body>
</html>
