<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Feature Overview</title>

#parse("/templates/headers.vm")

<script type="text/javascript">
$(function () {
    $('#steps_chart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Steps',
            y: 50,
            style: {
                fontWeight: 'bold',
                fontSize: 'large'
            }
        },
        tooltip: {
            style: {
                fontWeight: 'bold',
                color: 'darkcyan'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    distance: 15,
                    format: '<b>{point.name}</b>:<br>{point.percentage:.2f} %',
                    style: {
                        fontWeight: 'bold',
                        color: 'indigo'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Steps',
            data: [
                {
                    selected: true,
                    sliced: true,
                    name: 'Passed',
                    color: "#00A000",
                    y: $all_steps_passes
                },
                {
                    name: 'Failed',
                    color: "#FF0000",
                    y: $all_steps_failed
                },
                {
                    name: 'Skipped',
                    color: "#88AAFF",
                    y: $all_steps_skipped
                },
                {
                    name: 'Pending',
                    color: "#FBB907",
                    y: $all_steps_pending
                },
                {
                    name: 'Undefined',
                    color: "#FBB957",
                    y: $all_steps_undefined
                },
                {
                    name: 'Missing',
                    color: "#FBB9A7",
                    y: $all_steps_missing
                }
            ]
        }]
    });


    $('#scenarios_chart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45
            }
        },
        title: {
            text: 'Scenarios',
            y: 50,
            style: {
                fontWeight: 'bold',
                fontSize: 'large'
            }
        },
        tooltip: {
            style: {
                fontWeight: 'bold',
                color: 'darkcyan'
            }
        },
        plotOptions: {
            pie: {
                innerSize: '70%',
                depth: 35,
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: 15,
                    format: '<b>{point.name}</b>:<br>{point.percentage:.2f} %',
                    style: {
                        fontWeight: 'bold',
                        color: 'indigo'
                    }
                }
            }
        },
        series: [{
            name: 'Scenarios',
            data: [
                {
                    name: 'Passed',
                    y: $all_scenarios_passed,
                    color: "#00A000"
                },
                {
                    selected: true,
                    sliced: true,
                    name: 'Failed',
                    y: $all_scenarios_failed,
                    color: "#FF0000"
                }
            ]
        }]
    });


    $('#features_chart').highcharts({
        chart: {
            plotShadow: false,
        },
        title: {
            text: 'Features',
            y: 50,
            style: {
                fontWeight: 'bold',
                fontSize: 'large'
            }
        },
        tooltip: {
            style: {
                fontWeight: 'bold',
                color: 'darkcyan'
            }
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: 15,
                    format: '<b>{point.name}</b>:<br>{point.percentage:.2f} %',
                    style: {
                        fontWeight: 'bold',
                        color: 'indigo'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Features',
            innerSize: '50%',
            data: [
                {
                    name: 'Passed',
                    y: $all_features_passed,
                    color: "#00A000"
                },
                {
                    selected: true,
                    sliced: true,
                    name: 'Failed',
                    y: $all_features_failed,
                    color: "#FF0000"
                }
            ]
        }]
    });
});
</script>
</head>

<body>
#set($nav_active = "features")
#parse("/templates/navigation.vm")

#parse("/templates/summary.vm")

#pageTitle("Feature Statistics" "The following graph shows passing and failing statistics for features")


<div class="container-fluid" id="charts">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="featureChartCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#featureChartCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#featureChartCarousel" data-slide-to="1"></li>
          <li data-target="#featureChartCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div id="steps_chart"></div>
          </div>

          <div class="item">
            <div id="scenarios_chart"></div>
          </div>
    
          <div class="item">
            <div id="features_chart"></div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#featureChartCarousel" role="button" data-slide="prev"></span>
          &lt;
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#featureChartCarousel" role="button" data-slide="next">
          &gt;
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="statistics">
	        <table id="tablesorter" class="stats-table">
	            #set($table_key = "Feature")
	            #parse("/templates/tableHeader.vm")
	    
	            <tbody>
	            #foreach($feature in $all_features)
	                #set($featureName = $feature.getRawName())
	    
	                <tr>
	                    <td class="tagname"><a id="stats-$featureName" href="$feature.getReportFileName()">$featureName</a></td>
	                    #if($parallel)
	                    <td id="device">$feature.getDeviceName()</td>
	                    #end
	                    <td id="stats-number-scenarios-$featureName">$feature.getScenarios()</td>
	                    <td id="stats-number-scenarios-passed-$featureName">$feature.getPassedScenarios()</td>
	                    <td id="stats-number-scenarios-failed-$featureName">$feature.getFailedScenarios()</td>
	                    <td id="stats-number-steps-$featureName">$feature.getNumberOfSteps()</td>
	                    <td id="stats-number-steps-passed-$featureName">$feature.getNumberOfPasses()</td>
	                    <td id="stats-number-steps-failed-$featureName"    #if($feature.getNumberOfFailures() > 0)  class="failed" #end>$feature.getNumberOfFailures()</td>
	                    <td id="stats-number-steps-skipped-$featureName"   #if($feature.getNumberOfSkipped() > 0)   class="skipped" #end>$feature.getNumberOfSkipped()</td>
	                    <td id="stats-number-steps-pending-$featureName"   #if($feature.getNumberOfPending() > 0)   class="pending" #end>$feature.getNumberOfPending()</td>
	                    <td id="stats-number-steps-undefined-$featureName" #if($feature.getNumberOfUndefined() > 0) class="undefined" #end>$feature.getNumberOfUndefined()</td>
	                    <td id="stats-number-steps-missing-$featureName"   #if($feature.getNumberOfMissing() > 0)   class="missing" #end>$feature.getNumberOfMissing()</td>
	                    <td id="stats-duration-$featureName" class="duration-format">$feature.getTotalDuration()</td>
	                    <td id="stats-status-$featureName" class="$feature.getStatus().getRawName()">$feature.getStatus().getLabel()</td>
	                </tr>
	            #end
	            </tbody>
	    
	            <tr class="summary">
	                <td id="stats-total-features">$all_features.size()</td>
	                #if($parallel)
	                <td id="stats-total-features">-</td>
	                #end
	                <td id="stats-total-scenarios">$all_scenarios</td>
	                <td id="stats-total-scenarios-passed">$all_scenarios_passed</td>
	                <td id="stats-total-scenarios-failed">$all_scenarios_failed</td>
	                <td id="stats-total-steps">$all_steps.size()</td>
	                <td id="stats-total-steps-passed">$all_steps_passes</td>
	                <td id="stats-total-steps-failed">$all_steps_failed</td>
	                <td id="stats-total-steps-skipped">$all_steps_skipped</td>
	                <td id="stats-total-steps-pending">$all_steps_pending</td>
	                <td id="stats-total-steps-undefined">$all_steps_undefined</td>
	                <td id="stats-total-steps-missing">$all_steps_missing</td>
	                <td id="stats-total-duration" class="duration-format">$all_durations</td>
	                <td id="stats-total-totals">Totals</td>
	            </tr>
	        </table>
	    </div>
</div>

#parse("/templates/footer.vm")                        

</body>
</html>
