<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Feature: $feature.getRawName()")
</head>
<body>

#includeNavigation()

#includeSummary()

#includeLead("Feature Report")

#includeReportTable("Feature", $feature, $parallel)


<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      #includeTags($feature.getTags())
      <div class="$feature.getStatus().getRawName()">
        <div class="feature-line">
          <span class="feature-keyword">$feature.getKeyword(): </span>$feature.getRawName()
        </div>
      </div>
      <div class="description">$feature.getDescription()</div>
      #printScenario($feature.getElements(), false)
    </div>
  </div>
</div>

#include("/templates/footer.html")                        

</body>
</html>
