<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Feature: $feature.getRawName()")
</head>
<body>

#includeNavigation()

#includeSummary()

#includeLead("Feature Report")

#includeReportTable("Feature", $feature, $parallel)


<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="feature-details">
        #includeTags($feature.getTags())
        <div class="keyword-feature">
          #includeKeyword($feature.getKeyword(), $feature.getStatus(), $feature.getRawName())
        </div>
        <div class="description">$feature.getDescription()</div>
      </div>

      <div class="elements">
        #includeScenario($feature.getElements(), false)
      </div>
    </div>
  </div>
</div>
<br>

#include("/templates/footer.html")

</body>
</html>
