<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cucumber-JVM Html Reports - Feature: $feature.getRawName() </title>

#include("/templates/headers.html")

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
#if($artifactsEnabled)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="CodeMirror-2.33/theme/eclipse.css">
    <link rel="stylesheet" href="CodeMirror-2.33/lib/codemirror.css">
    <script src="CodeMirror-2.33/lib/codemirror.js"></script>
    <script src="CodeMirror-2.33/mode/xml/xml.js"></script>

    <script type="text/javascript">

        editorArray = new Array();

        function getEditor(id) {
            var editor = CodeMirror.fromTextArea(document.getElementById(id), {
                mode: {name: "xml", alignCDATA: true},
                lineNumbers: true,
                theme: 'eclipse'
            });
            editorArray[id] = editor;
        }

        function applyArtifact(id,artifactFile){
            for (var i in editorArray) {
                var el = editorArray[i].getWrapperElement();
                $(el).remove();
            }

            $('#' + id).load(artifactFile, function(data) {
                getEditor(id);
                editorArray[id].setValue(data);
            });
            $('#' + id).dialog();
        }
    </script>
#end

#include("/styles/reporting.css")                        

</head>
<body id="top">

    #parse("/templates/topMenu.vm")

    #set($summaryKey = $feature.getRawName())
    #parse("/templates/summaryReport.vm")

    <div class="container_12">
        <div class="grid_12">

            <div>
                <table class="stats-table">
                    #if($parallel)
                        #include("/templates/tableHeaderParallel.vm")                        
                    #else
                        #include("/templates/tableHeader.vm")                        
                    #end
                    
                    #set($sf = $feature.getRawName())

                    <tr>
                        <td><a id="stats-$sf" href="$feature.getFileName()">$sf</a></td>
                        #if($parallel)
                          <td id="device">$feature.getDeviceName()</td>
                        #end
                        <td id="stats-number-scenarios-$sf">$feature.getNumberOfScenarios()</td>
                        <td id="stats-number-scenarios-passed-$sf">$feature.getNumberOfScenariosPassed()</td>
                        <td id="stats-number-scenarios-failed-$sf">$feature.getNumberOfScenariosFailed()</td>
                        <td id="stats-number-steps-$sf">$feature.getNumberOfSteps()</td>
                        <td id="stats-number-steps-passed-$sf">$feature.getNumberOfPasses()</td>
                        <td id="stats-number-steps-failed-$sf"    #if($feature.getNumberOfFailures() > 0)  style="background-color:#FF0000;" #end>$feature.getNumberOfFailures()</td>
                        <td id="stats-number-steps-skipped-$sf"   #if($feature.getNumberOfSkipped() > 0)   style="background-color:#88AAFF;" #end>$feature.getNumberOfSkipped()</td>
                        <td id="stats-number-steps-pending-$sf"   #if($feature.getNumberOfPending() > 0)   style="background-color:#FBB907;" #end>$feature.getNumberOfPending()</td>
                        <td id="stats-number-steps-undefined-$sf" #if($feature.getNumberOfUndefined() > 0) style="background-color:#FBB957;" #end>$feature.getNumberOfUndefined()</td>
                        <td id="stats-number-steps-missing-$sf"   #if($feature.getNumberOfMissing() > 0)   style="background-color:#FBB9A7;" #end>$feature.getNumberOfMissing()</td>
                        <td id="stats-duration-$sf" style="text-align:right;white-space:nowrap">$feature.getDurationOfSteps()</td>
                        <td id="stats-status-$sf" style="background-color: $report_status_colour;">$feature.getRawStatus()</td></tr>

                </table>

            </div>

        <div style="color:black;">

            $feature.getTagsList()
            $feature.getName()
            $feature.getDescription()

            #foreach($scenario in $scenarios)
                $scenario.getTagsList()
                $scenario.getName()
                #foreach($step in $scenario.getSteps().toList())
                  $step.getName()
                    $step.getDocStringOrNothing()
                    #if($step.hasRows())
                        <div class="data $step.getDataTableClass()">
                        <table class="data-table">
                      #foreach($row in $step.getRows())
                       <tr>
                           #foreach($cell in $row.getCells())
                           <td>$esc.html($cell)</td>
                           #end
                       </tr>
                      #end
                      </table>
                        </div>
                    #end
                  <div class="output-data">$step.getOutput()</div>
                #end
            #end

    </div>
    </div>


#parse("/templates/footer.vm")                        

</body>
</html>
