<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Step Overview</title>

#include("/templates/headers.html")

#include("/templates/tableSorter.vm")

</head>
<body>

    #parse("/templates/topMenu.vm")

    #set($summary_key = "Steps")
    #set($summary_description = "The following graph shows step statistics for this build. Below list is based on results. If step does not provide information about result then is not listed below. Additionally @Before and @After are not counted because they are part of the scenarios, not steps.")
    #parse("/templates/summaryOverview.vm")

<div class="container_12">
    <div class="grid_12">

        <div>
            <br/>
            <h2>Step Statistics</h2>            
            <table id="tablesorter" class="stats-table">

            <thead>
              <tr class="header">
                <th id="stats-header-feature">Implementation</th>
                <th id="stats-header-occurrences">Occurrences</th>
                <th id="stats-header-duration">Duration</th>
                <th id="stats-header-average">Average</th>
                <th id="stats-header-status">Ratio</th>
              </tr>
            </thead>

            <tbody>
            #foreach($step in $all_steps)
                <tr>
                    #if($step.getPercentageResult() == 100.0)
                        #set($bgcolour = "passed")
                    #else
                        #set($bgcolour = "failed")
                    #end

                    <td class="tagname">$step.getLocation()</td>
                    <td>$step.getTotalOccurrences()</td>
                    <td class="duration">$step.getTotalFormattedDuration()</td>
                    <td class="duration">$step.getAverageFormattedDuration()</td>
                    <td class="$bgcolour">$step.getPercentageResult()%</td>
                </tr>
            #end
            </tbody>
                <tr class="summary">
                    <th>$all_steps.size()</th>
                    <th>$all_occurrences</th>
                    <th>$all_durations</th>
                    <th class="duration">$all_average</th>
                    <th>Totals</th>
                </tr>
            </table>
        </div>
    </div>
</div>


#parse("/templates/footer.vm")                        

</body>
</html>
