<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Tag Overview</title>

#include("/templates/headers.html")

#include("/templates/tableSorter.vm")
<script src="js/highcharts.js"></script>
<script src="js/highcharts-3d.js"></script>

<script>
    jQuery(document).ready(function() {

        var chartData = $chart_data,
            chartCategory = $chart_categories,
            formattedData = [
                {
                    name: "Passed",
		            color: "$status_color.get(0)",
                    data: []
                },
                {
                    name: "Failed",
		            color: "$status_color.get(1)",
                    data: []
                },
                {
                    name: "Skipped",
		            color: "$status_color.get(2)",
                    data: []
                },
                {
                    name: "Pending",
		            color: "$status_color.get(3)",
                    data: []
                },
                {
                    name: "Undefined",
		            color: "$status_color.get(4)",
                    data: []
                },
                {
                    name: "Missing",
		            color: "$status_color.get(5)",
                    data: []
                }
            ];

        jQuery.each(chartCategory, function (i, categoryName) {
            formattedData[0].data.push(chartData[i][0]);
            formattedData[1].data.push(chartData[i][1]);
            formattedData[2].data.push(chartData[i][2]);
            formattedData[3].data.push(chartData[i][3]);
            formattedData[4].data.push(chartData[i][4]);
            formattedData[5].data.push(chartData[i][5]);
        });
    
        $('#stacked-graph').highcharts({
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 25,
                depth: 70
            }
        },
        title: {
            text: 'Tag Overview'
        },
        xAxis: {
            categories: $chart_categories
        },
        yAxis: {
            min: 0,
            title: {
                    text: ''
            }
        },
            legend: {
                align: 'right',
                x: 0,
                verticalAlign: 'top',
                y: 20
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y +'<br/>'+
                            'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            series: formattedData
        });
    });
</script>

</head>

<body id="top">

    #parse("/templates/topMenu.vm")

    #set($summary_key = "Tag")
    #set($summary_description = "The following graph shows passing and failing statistics for tags in this build.")
    #parse("/templates/summaryOverview.vm")

    <div class="container_12">
        <div class="grid_12">

        #if($all_tags.isEmpty())
            <div><p>You have no tags in your cucumber features</p></div>
        #else

        <div id="stacked-graph" style="width:900px; height:400px"></div>

        <div>
            <br/>
            <h2>Tag Statistics</h2>
            <table id="tablesorter" class="stats-table">
                #set($table_key = "Tag")
                #parse("/templates/tableHeader.vm")

                <tbody>
                #foreach($tag in $all_tags)

                    #if($tag.getStatus().name() == "PASSED")
                        #set($bgcolour = $status_color.get(0))
                    #else
                        #set($bgcolour = $status_color.get(1))
                    #end

                    <tr>
                        <td style="text-align:left;"><a href="$tag.getReportFileName()">$tag.getTagName()</a></td>
                        <td>$tag.getScenarios()</td>
                        <td>$tag.getNumberOfPassingScenarios()</td>
                        <td>$tag.getNumberOfFailingScenarios()</td>
                        <td>$tag.getNumberOfSteps()</td>
                        <td>$tag.getNumberOfPasses()</td>
                        <td #if($tag.getNumberOfFailures() > 0)  style="background-color:$status_color.get(1)" #end>$tag.getNumberOfFailures()</td>
                        <td #if($tag.getNumberOfSkipped() > 0)   style="background-color:$status_color.get(2)" #end>$tag.getNumberOfSkipped()</td>
                        <td #if($tag.getNumberOfPending() > 0)   style="background-color:$status_color.get(3)" #end>$tag.getNumberOfPending()</td>
                        <td #if($tag.getNumberOfUndefined() > 0) style="background-color:$status_color.get(4)" #end>$tag.getNumberOfUndefined()</td>
                        <td #if($tag.getNumberOfMissing() > 0)   style="background-color:$status_color.get(5)" #end>$tag.getNumberOfMissing()</td>
                        <td style="text-align:right;white-space:nowrap">$tag.getTotalDuration()</td>
                        <td style="background-color: $bgcolour;">$tag.getRawStatus()</td>
                    </tr>
                #end
                </tbody>

                <tr>
                    <th style="background-color:lightgray;">$all_tags.size()</th>
                    <th style="background-color:lightgray;">$all_tags_scenarios</th>
                    <th style="background-color:lightgray;">$all_tags_passed_scenarios</th>
                    <th style="background-color:lightgray;">$all_tags_failed_scenarios</th>
                    <th style="background-color:lightgray;">$all_tags_steps</th>
                    <th style="background-color:lightgray;">$all_tags_passes</th>
                    <th style="background-color:lightgray;">$all_tags_failed</th>
                    <th style="background-color:lightgray;">$all_tags_skipped</th>
                    <th style="background-color:lightgray;">$all_tags_pending</th>
                    <th style="background-color:lightgray;">$all_tags_undefined</th>
                    <th style="background-color:lightgray;">$all_tags_missing</th>
                    <th style="background-color:lightgray;text-align:right;white-space:nowrap">$all_durations</th>
                    <th style="background-color:lightgray;">Totals</th>
                </tr>
            </table>
        </div>
        #end

    </div>
</div>


#parse("/templates/footer.vm")                        

</body>
</html>
