<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Tag Overview</title>

#parse("/templates/headers.vm")

<script type="text/javascript">
    jQuery(document).ready(function() {

        var chartData = $chart_data,
            chartCategory = $chart_categories,
            formattedData = [
                {
                    name: "Passed",
                    color: "#00A000",
                    data: []
                },
                {
                    name: "Failed",
                    color: "#FF0000",
                    data: []
                },
                {
                    name: "Skipped",
                    color: "#88AAFF",
                    data: []
                },
                {
                    name: "Pending",
                    color: "#FBB907",
                    data: []
                },
                {
                    name: "Undefined",
                    color: "#FBB957",
                    data: []
                },
                {
                    name: "Missing",
                    color: "#FBB9A7",
                    data: []
                }
            ];

            jQuery.each(chartCategory, function (i, categoryName) {
                formattedData[0].data.push(chartData[i][0]);
                formattedData[1].data.push(chartData[i][1]);
                formattedData[2].data.push(chartData[i][2]);
                formattedData[3].data.push(chartData[i][3]);
                formattedData[4].data.push(chartData[i][4]);
                formattedData[5].data.push(chartData[i][5]);
            });
        
            $('#stacked-graph').highcharts({
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 25,
                    depth: 70
                }
            },
            title: {
                text: 'Tags',
                y: 50,
                style: {
                    fontWeight: 'bold',
                    fontSize: 'large'
                }
            },
            xAxis: {
                categories: $chart_categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                align: 'right',
                x: 0,
                verticalAlign: 'top',
                y: 20
            },
            tooltip: {
                formatter: function() {
                    return this.x +'<br/>'
                           + this.series.name + ': '+ this.y + '<br/>'
                           + 'Total: ' + this.point.stackTotal;
                },
                style: {
                    fontWeight: 'bold',
                    color: 'darkcyan'
                }
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            series: formattedData
        });
    });
</script>
</head>

<body>

#set($nav_active = "tags")
#parse("/templates/navigation.vm")

#parse("/templates/summary.vm")

#pageTitle("Tag Statistics" "The following graph shows passing and failing statistics for tags.")


#if($all_tags.isEmpty())
    <div><p>You have no tags in your cucumber features</p></div>
#else

<div class="container-fluid" id="charts">
  <div id="stacked-graph"></div>
</div>

<div>
    <br/>
    <h2>Tag Statistics</h2>
    <table id="tablesorter" class="stats-table">
        #set($table_key = "Tag")
        #parse("/templates/tableHeader.vm")

        <tbody>
        #foreach($tag in $all_tags)
            <tr>
                <td class="tagname"><a href="$tag.getReportFileName()">$tag.getTagName()</a></td>
                <td>$tag.getScenarios()</td>
                <td>$tag.getNumberOfPassingScenarios()</td>
                <td>$tag.getNumberOfFailingScenarios()</td>
                <td>$tag.getNumberOfSteps()</td>
                <td>$tag.getNumberOfPasses()</td>
                <td #if($tag.getNumberOfFailures() > 0)  class="failed" #end>$tag.getNumberOfFailures()</td>
                <td #if($tag.getNumberOfSkipped() > 0)   class="skipped" #end>$tag.getNumberOfSkipped()</td>
                <td #if($tag.getNumberOfPending() > 0)   class="pending" #end>$tag.getNumberOfPending()</td>
                <td #if($tag.getNumberOfUndefined() > 0) class="undefined" #end>$tag.getNumberOfUndefined()</td>
                <td #if($tag.getNumberOfMissing() > 0)   class="missing" #end>$tag.getNumberOfMissing()</td>
                <td class="duration-format">$tag.getTotalDuration()</td>
                <td class="$tag.getStatus().getRawName()">$tag.getStatus().getLabel()</td>
            </tr>
        #end
        </tbody>

        <tr class="summary">
            <td>$all_tags.size()</td>
            <td>$all_tags_scenarios</td>
            <td>$all_tags_passed_scenarios</td>
            <td>$all_tags_failed_scenarios</td>
            <td>$all_tags_steps</td>
            <td>$all_tags_passes</td>
            <td>$all_tags_failed</td>
            <td>$all_tags_skipped</td>
            <td>$all_tags_pending</td>
            <td>$all_tags_undefined</td>
            <td>$all_tags_missing</td>
            <td class="duration-format">$all_durations</td>
            <td>Totals</td>
        </tr>
    </table>
</div>
#end


#parse("/templates/footer.vm")                        

</body>
</html>
