<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Tag: $tag.getRawName()")
</head>
<body>

#includeNavigation()

#includeSummary()

#includeLead("Tag Report")

#includeReportTable("Tag", $tag, false)


<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      #includeScenario($tag.getElements(), true)
    </div>
  </div>
</div>
<br>

#include("/templates/footer.html")

</body>
</html>
