<!DOCTYPE html>
<html>
<head>
<title>Cucumber-JVM Html Reports - Tag: $tag.getTagName()</title>

#parse("/templates/headers.vm")

</head>
<body>

#includeNavigation()

#includeSummary()

#includeTitle("Tag Report")


<div class="container-fluid" id="summary">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="stats-table">
        #includeTableHeader("Tag", false)
        <tr>
          <td class="tagname">$tag.getTagName()</td>
          <td>$tag.getScenarios()</td>
          <td>$tag.getNumberOfPassingScenarios()</td>
          <td>$tag.getNumberOfFailingScenarios()</td>
          <td>$tag.getNumberOfSteps()</td>
          <td>$tag.getNumberOfPasses()</td>
          <td #if($tag.getNumberOfFailures() > 0)  class="failed"    #end>$tag.getNumberOfFailures()</td>
          <td #if($tag.getNumberOfSkipped() > 0)   class="skipped"   #end>$tag.getNumberOfSkipped()</td>
          <td #if($tag.getNumberOfPending() > 0)   class="pending"   #end>$tag.getNumberOfPending()</td>
          <td #if($tag.getNumberOfUndefined() > 0) class="undefined" #end>$tag.getNumberOfUndefined()</td>
          <td #if($tag.getNumberOfMissing() > 0)   class="missing"   #end>$tag.getNumberOfMissing()</td>
          <td class="duration-format">$tag.getTotalDuration()</td>
          <td class="$tag.getStatus().getRawName()">$tag.getStatus().getLabel()</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      #foreach($scenario in $tag.getElements())
        <a href="$scenario.getFeature().getReportFileName()">View Feature</a> <i>$scenario.getFeature().getName()</i>
        $scenario.getTagsList()
        $scenario.getBeforeAttachments()
        $scenario.getName()
        #foreach($step in $scenario.getSteps())
          $step.getDetails()
          $step.getDocString()
          #if($step.hasRows())
            <table class="arguments-table">
              #foreach($row in $step.getRows())
                <tr>
                  #foreach($cell in $row.getCells())
                    <td>$cell</td>
                  #end
                </tr>
              #end
            </table>
          #end
          <div>$step.getOutput()</div>
          <div>$step.getAttachments()</div>
        #end
        $scenario.getAfterAttachments()
        <br>
      #end
    </div>
  </div>
</div>


#include("/templates/footer.html")                        

</body>
</html>
