<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cucumber-JVM Html Reports - Feature Overview</title>
	<link rel="stylesheet" href="blue/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/skin/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/960.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/text.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="blue/favicon.ico" />
    #if($flashCharts)
        <script language="javascript">AC_FL_RunContent = 0;</script>
        <script language="javascript"> DetectFlashVer = 0; </script>
        <script src="charts/AC_RunActiveContent.js" language="javascript"></script>
        <script language="JavaScript" type="text/javascript">
        <!--
        var requiredMajorVersion = 10;
        var requiredMinorVersion = 0;
        var requiredRevision = 45;
        -->
        </script>
    #else
        #if ($highCharts)
            <script type="text/javascript" src="js/jquery.min.js"></script>
            <script src="js/highcharts.js"></script>
        #else
            <script src="js/raphael.js"></script>
            <script src="js/g.raphael-min.js"></script>
            <script src="js/g.pie-min.js"></script>
            <script src="js/g.bar-min.js"></script>
        #end
    #end
<style>
.feature-keyword{font-weight:bold;}
.feature-description{padding-left:15px;font-style:italic;background-color:beige;}
.feature-role{font-weight:bold;}
.feature-action{font-weight:bold;}
.feature-value{font-weight:bold;}
.feature-tags{padding-top:10px;padding-left:15px;color:darkblue;}
.scenario-keyword{font-weight:bold;padding-left:15px;}
.scenario-scenario_name{padding-left:15px;}
.step-keyword{font-weight:bold;padding-left:50px;}
.step-error-message{background-color:#FFEEEE;padding-left:50px;border: 1px solid #D88A8A;}
.passed{background-color:#C5D88A;}
.failed{background-color:#D88A8A;}
.skipped{background-color:#2DEAEC;}
.undefined{background-color: #ebcc81;}

table.stats-table {
	color:black;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.stats-table th {
	color:black;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: #66CCEE;
	-moz-border-radius: ;
}
table.stats-table td {
  color:black;
  text-align: center;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
</style>

</head>
<body id="top">
	<div id="fullwidth_header">
		<div class="container_12">
			<h1 class="grid_4 logo"><a href="feature-overview.html" class='ie6fix'>Cucumber</a></h1>
			<div class="grid_6" id="nav">
				<ul>
                    #if($fromJenkins)
                        <li><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins</a></li>
                    #end
				<li><a href="tag-overview.html">Tag Overview</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="fullwidth_gradient">
		<div class="container_12">
			<div class="grid_9 heading">
				<h2 id="overview-title">Feature Overview for Build: $build_number</h2>
				<span class="subhead">The following graph shows passing and failing statistics for features in this build:</span>
			</div>
		</div>
	</div>

	<div class="container_12">
		<div class="grid_12">


#if($flashCharts)
	 <div id="flash-charts" style="text-align:center;">

         <table>
             <tr>
                 <td>
         <script language="JavaScript" type="text/javascript">
<!--
if (AC_FL_RunContent == 0 || DetectFlashVer == 0) {
	alert("This page requires AC_RunActiveContent.js.");
} else {
	var hasRightVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
	if(hasRightVersion) {
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,45,2',
			'width', '480',
			'height', '300',
			'scale', 'noscale',
			'salign', 'TL',
			'bgcolor', '#bbccff',
			'wmode', 'opaque',
			'movie', 'charts/charts',
			'src', 'charts/charts',
			'FlashVars', "library_path=charts/charts_library&xml_data=$step_data",
			'id', 'my_chart',
			'name', 'my_chart',
			'menu', 'true',
			'allowFullScreen', 'true',
			'allowScriptAccess','sameDomain',
			'quality', 'high',
			'align', 'middle',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'play', 'true',
			'devicefont', 'false'
			);
	} else {
		var alternateContent = 'This content requires the Adobe Flash Player. '
		+ '<u><a href=http://www.macromedia.com/go/getflash/>Get Flash</a></u>.';
		document.write(alternateContent);
	}
}
// -->
</script>
<noscript>
	<P>This content requires JavaScript.</P>
</noscript>
 </td>
 <td width="10">&nbsp;</td>
                 <td>
     <script language="JavaScript" type="text/javascript">
   <!--
   if (AC_FL_RunContent == 0 || DetectFlashVer == 0) {
   	alert("This page requires AC_RunActiveContent.js.");
   } else {
   	var hasRightVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
   	if(hasRightVersion) {
   		AC_FL_RunContent(
   			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,45,2',
   			'width', '480',
   			'height', '300',
   			'scale', 'noscale',
   			'salign', 'TL',
   			'bgcolor', '#bbccff',
   			'wmode', 'opaque',
   			'movie', 'charts/charts',
   			'src', 'charts/charts',
   			'FlashVars', "library_path=charts/charts_library&xml_data=$scenario_data",
   			'id', 'my_chart',
   			'name', 'my_chart',
   			'menu', 'true',
   			'allowFullScreen', 'true',
   			'allowScriptAccess','sameDomain',
   			'quality', 'high',
   			'align', 'middle',
   			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
   			'play', 'true',
   			'devicefont', 'false'
   			);
   	} else {
   		var alternateContent = 'This content requires the Adobe Flash Player. '
   		+ '<u><a href=http://www.macromedia.com/go/getflash/>Get Flash</a></u>.';
   		document.write(alternateContent);
   	}
   }
   // -->
   </script>
   <noscript>
   	<P>This content requires JavaScript.</P>
   </noscript>

 </td>
 </tr>
 </table>
</div>
#else
    #if ($highCharts)
        <script>
            jQuery(document).ready(function() {
                jQuery('#steps_chart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Steps'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Steps',
                        data: [
                            {
                                name: 'Passed',
                                color: "$step_data.get(0)",
                                y: $total_passes,
                                sliced: true,
                                selected: true
                            },
                            {
                                name: 'Failed',
                                color: "$step_data.get(2)",
                                y: $total_fails
                            },
                            {
                                name: 'Skipped',
                                color: "$step_data.get(3)",
                                y: $total_skipped
                            },
                            {
                                name: 'Pending',
                                color: "$step_data.get(1)",
                                y: $total_pending
                            }
                        ]
                    }]
                });

                $('#scenarios_chart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Scenarios'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Scenarios',
                        data: [
                            {
                                name: 'Passed',
                                y: $scenarios_passed,
                                color: "$step_data.get(0)",
                                sliced: true,
                                selected: true
                            },
                            {
                                name: 'Failed',
                                y: $scenarios_failed,
                                color: "$step_data.get(2)"
                            }
                        ]
                    }]
                });
            });
        </script>
    #else
        <script>
            window.onload = function () {
                var steps = Raphael("steps_chart");
                steps.text(45, 280, "Steps").attr({ font: "30px sans-serif" });
                steps.piechart(200, 150, 120, [#if( $total_passes == 0) 0.000001 #{else} $total_passes #end, #if( $total_fails == 0) 0.000001 #{else} $total_fails #end, #if( $total_skipped == 0) 0.000001 #{else} $total_skipped #end, #if( $total_pending == 0) 0.000001 #{else} $total_pending #end], { legend: ["%%.%% - Passed", "%%.%% - Failed", "%%.%% - Skipped", "%%.%% - Pending"], legendpos: "east", colors: ["$step_data.get(0)","$step_data.get(1)","$step_data.get(2)","$step_data.get(3)"]});


                var scenarios = Raphael("scenarios_chart");
                scenarios.text(75, 280, "Scenarios").attr({ font: "30px sans-serif", fill: "white" });
                scenarios.piechart(200, 150, 120, [#if( $scenarios_passed == 0) 0.000001 #{else} $scenarios_passed #end,#if( $scenarios_failed == 0) 0.000001 #{else} $scenarios_failed #end], { legend: ["%%.%% - Passed", "%%.%% - Failed"], legendpos: "east", colors: ["$scenario_data.get(0)","$scenario_data.get(1)"], legendcolor: "white"});
            };
        </script>
    #end
    <noscript>
        <P>This content requires JavaScript.</P>
    </noscript>

    <table id="js-charts">
           <tr>
               <td> <div style="background-color: #E6FCFF;width:480px;height:300px;border: 1px solid gray;" id="steps_chart"></div></td>
               <td width="10">&nbsp;</td>
               <td> <div style="background-color: #006699;width:480px;height:300px;border: 1px solid gray;" id="scenarios_chart"></div></td>
           </tr>
       </table>

  </div>
#end
	<br/>
		<div class="grid_12 hr"></div>

	<div>
	  <br/>
  <h2 id="feature-statistics-title">Feature Statistics</h2>
  <table class="stats-table">     
      #if($parallel)
          #include("/templates/tableHeaderParallel.vm")                        
        #else
          #include("/templates/tableHeader.vm")                        
      #end

      #foreach($feature in $features)

          #if($feature.getStatus().toString() == "PASSED")
          #set($bgcolour = "#C5D88A")
          #else
          #set($bgcolour = "#D88A8A")
          #end

          $feature.processSteps()

          #set($sf = $feature.getRawName())

          <tr>
          <td style="text-align:left;"><a id="stats-$sf" href="$feature.getFileName()">$feature.getRawName()</a></td>
          #if($parallel)
              <td id="device">$feature.getDeviceName()</td>
          #end
          <td id="stats-number-scenarios-$sf">$feature.getNumberOfScenarios()</td>
          <td id="stats-number-scenarios-passed-$sf">$feature.getNumberOfScenariosPassed()</td>
          <td id="stats-number-scenarios-failed-$sf">$feature.getNumberOfScenariosFailed()</td>
          <td id="stats-number-steps-$sf">$feature.getNumberOfSteps()</td>
          <td id="stats-number-steps-passed-$sf">$feature.getNumberOfPasses()</td>
          <td id="stats-number-steps-failed-$sf">$feature.getNumberOfFailures()</td>
          <td id="stats-number-steps-skipped-$sf">$feature.getNumberOfSkipped()</td>
          <td id="stats-number-steps-pending-$sf">$feature.getNumberOfPending()</td>
          <td id="stats-duration-$sf">$feature.getDurationOfSteps()</td>
          <td id="stats-status-$sf" style="background-color: $bgcolour;">$feature.getRawStatus()</td>
          </tr>
      #end

<tr>
<td id="stats-total-features" style="background-color:lightgray;font-weight:bold;">$total_features</td>
#if($parallel)
  <td id="stats-total-features" style="background-color:lightgray;font-weight:bold;">-</td>
#end
<td id="stats-total-scenarios" style="background-color:lightgray;font-weight:bold;">$total_scenarios</td>
<td id="stats-total-scenarios-passed" style="background-color:lightgray;font-weight:bold;">$scenarios_passed</td>
<td id="stats-total-scenarios-failed" style="background-color:lightgray;font-weight:bold;">$scenarios_failed</td>
<td id="stats-total-steps" style="background-color:lightgray;font-weight:bold;">$total_steps</td>
<td id="stats-total-steps-passed" style="background-color:lightgray;font-weight:bold;">$total_passes</td>
<td id="stats-total-steps-failed" style="background-color:lightgray;font-weight:bold;">$total_fails</td>
<td id="stats-total-steps-skipped" style="background-color:lightgray;font-weight:bold;">$total_skipped</td>
<td id="stats-total-steps-pending" style="background-color:lightgray;font-weight:bold;">$total_pending</td>
<td id="stats-total-duration" style="background-color:lightgray;font-weight:bold;">$total_duration</td>
<td id="stats-total-totals" style="background-color:lightgray;font-weight:bold;">Totals</td>
</tr></table>
	</div>

	</div>
	</div>


	<div class="container_12">
		<div class="grid_12 hr"></div>
		<div class="grid_12 footer">
			<p style="text-align:center;">Cucumber-JVM Jenkins Report Plugin - version: $version - $time_stamp</p>
		</div>
	</div>
	<div class="clear"></div>
</body>
</html>
