<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>

<script type="text/javascript" src="highcharts.js"></script>
<script type="text/javascript" src="highcharts-3d.js"></script>

<link rel="stylesheet" href="bootstrap.min.css" type="text/css"/>

<link rel="stylesheet" href="reporting.css" type="text/css"/>

<script type="text/javascript">
$(document).ready(function() {
    $("#tablesorter").tablesorter();
});
</script>


#parse("/templates/macros/title.vm")
