<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="blue/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/skin/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/960.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/text.css" type="text/css" media="screen" />

<link rel="stylesheet" href="reporting.css" type="text/css" media="screen" />

<script src="js/highcharts.js"></script>
<script src="js/highcharts-3d.js"></script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function() {
        $("#tablesorter").tablesorter();
    });
</script>
