<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="blue/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/skin/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/960.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="blue/css/text.css" type="text/css" media="screen" />

<link rel="stylesheet" href="reporting.css" type="text/css" media="screen" />

<link rel="shortcut icon" href="blue/favicon.ico" />
