
#include("/templates/head.html")


#parse("/templates/macros/page/title.vm")
#parse("/templates/macros/page/navigation.vm")
#parse("/templates/macros/page/buildinfo.vm")
#parse("/templates/macros/page/lead.vm")

#parse("/templates/macros/report/statsTable.vm")
#parse("/templates/macros/report/reportTable.vm")
#parse("/templates/macros/report/reportHeader.vm")
#parse("/templates/macros/report/elements.vm")
#parse("/templates/macros/report/brief.vm")
#parse("/templates/macros/report/tags.vm")
#parse("/templates/macros/report/hooks.vm")
#parse("/templates/macros/report/message.vm")
