<div class="page-header">
    <h2 id="page-title">$summary_key for
        build number <span class="header-tag-name">$build_number</span>,
        project <span class="header-tag-name">$build_project</span>
    </h2>
    <span class="subhead">$summary_description</span>
</div>
