<div class="top-menu">
    <div class="container_12">
        <div class="grid_12 heading">
            <h2 id="page-title">$summary_key Overview for
                build number <span class="header-tag-name">$build_number</span>,
                project <span class="header-tag-name">$build_project</span>
            </h2>
            <span class="subhead">$summary_description</span>
        </div>
    </div>
</div>
