<thead>
    <tr class="header">
        #if($parallel)
            <th></th>
        #end
        <th></th>
        <th id="stats-header-scenarios" colspan="3">Scenarios</th>
        <th id="stats-header-steps" colspan="7">Steps</th>
        <th></th>
        <th></th>
    </tr>
    <tr class="header">
            <th id="stats-header-key">$table_key</th>
            #if($parallel)
                <th id="stats-header-device">Device</th>
            #end
            <th id="stats-header-scenarios-total">Total</th>
            <th id="stats-header-scenarios-passed">Passed</th>
            <th id="stats-header-scenarios-failed">Failed</th>
            <th id="stats-header-steps-total">Total</th>
            <th id="stats-header-steps-passed"    style="background-color:$status_color.get(0)">Passed</th>
            <th id="stats-header-steps-failed"    style="background-color:$status_color.get(1)">Failed</th>
            <th id="stats-header-steps-skipped"   style="background-color:$status_color.get(2)">Skipped</th>
            <th id="stats-header-steps-pending"   style="background-color:$status_color.get(3)">Pending</th>
            <th id="stats-header-steps-undefined" style="background-color:$status_color.get(4)">Undefined</th>
            <th id="stats-header-steps-missing"   style="background-color:$status_color.get(5)">Missing</th>
            <th id="stats-header-duration">Duration</th>
            <th id="stats-header-status">Status</th>
    </tr>
</thead>
