<tr>
    <th></th>
    <th></th>
    <th id="stats-header-scenarios" colspan="3">Scenarios</th>
    <th id="stats-header-steps" colspan="5">Steps</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th id="stats-header-feature">Feature</th>
    <th id="stats-header-device">Device</th>
    <th id="stats-header-scenarios-total">Total</th>
    <th id="stats-header-scenarios-passed">Passed</th>
    <th id="stats-header-scenarios-failed">Failed</th>
    <th id="stats-header-steps-total">Total</th>
    <th id="stats-header-steps-passed" style="background-color:#C5D88A;">Passed</th>
    <th id="stats-header-steps-failed" style="background-color:#D88A8A;">Failed</th>
    <th id="stats-header-steps-skipped" style="background-color:#2DEAEC;">Skipped</th>
    <th id="stats-header-steps-pending" style="background-color:#ebcc81;">Pending</th>
    <th id="stats-header-duration">Duration</th>
    <th id="stats-header-status">Status</th>
</tr>
