<tr>
    <th></th>
    <th id="stats-header-scenarios" colspan="3">Scenarios</th>
    <th id="stats-header-steps" colspan="7">Steps</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th id="stats-header-feature">Feature</th>
    <th id="stats-header-scenarios-total">Total</th>
    <th id="stats-header-scenarios-passed">Passed</th>
    <th id="stats-header-scenarios-failed">Failed</th>
    <th id="stats-header-steps-total">Total</th>
    <th id="stats-header-steps-passed"    style="background-color:#00CE00;">Passed</th>
    <th id="stats-header-steps-failed"    style="background-color:#FF0000;">Failed</th>
    <th id="stats-header-steps-skipped"   style="background-color:#88AAFF;">Skipped</th>
    <th id="stats-header-steps-pending"   style="background-color:#FBB907;">Pending</th>
    <th id="stats-header-steps-undefined" style="background-color:#FBB957;">Undefined</th>
    <th id="stats-header-steps-missing"   style="background-color:#FBB9A7;">Missing</th>
    <th id="stats-header-duration">Duration</th>
    <th id="stats-header-status">Status</th>
</tr>
