#* @vtlvariable name="tags" type="java.util.List<net.masterthought.cucumber.TagObject>" *#
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cucumber-JVM Html Reports - Tag Overview</title>
    <link rel="stylesheet" href="blue/css/style.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="blue/css/skin/style.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="blue/css/960.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="blue/css/reset.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="blue/css/text.css" type="text/css"
          media="screen"/>
    <link rel="shortcut icon" href="blue/favicon.ico"/>

    #if($flashCharts)
        <script language="javascript">AC_FL_RunContent = 0;</script>
        <script language="javascript"> DetectFlashVer = 0; </script>
        <script src="charts/AC_RunActiveContent.js" language="javascript"></script>
        <script language="JavaScript" type="text/javascript">
            <!--
            var requiredMajorVersion = 10;
            var requiredMinorVersion = 0;
            var requiredRevision = 45;
            -->
        </script>
    #else
        #if ($highCharts)
            <script type="text/javascript" src="js/jquery.min.js"></script>
            <script src="js/highcharts.js"></script>
            <script>
                jQuery(document).ready(function() {

                    var chartData = $chart_data,
                        chartCategory = $chart_categories,
                        formattedData = [
                            {
                                name: "Passed",
                                color: '#88dd11',
                                data: []
                            },
                            {
                                name: "Failed",
                                color: '#cc1134',
                                data: []
                            },
                            {
                                name: "Skipped",
                                color: '#88aaff',
                                data: []
                            },
                            {
                                name: "Pending",
                                color: '#FBB917',
                                data: []
                            }
                        ];

                    jQuery.each(chartCategory, function (i, categoryName) {
                        formattedData[0].data.push(chartData[i][0]);
                        formattedData[1].data.push(chartData[i][1]);
                        formattedData[2].data.push(chartData[i][2]);
                        formattedData[3].data.push(chartData[i][3]);
                    });

                    jQuery('#stacked-graph').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Tag Overview'
                        },
                        xAxis: {
                            categories: $chart_categories
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: 0,
                            verticalAlign: 'top',
                            y: 0,
                            floating: true,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            formatter: function() {
                                return '<b>'+ this.x +'</b><br/>'+
                                        this.series.name +': '+ this.y +'<br/>'+
                                        'Total: '+ this.point.stackTotal;
                            }
                        },
                        plotOptions: {
                            column: {
                                stacking: 'percent'
                            }
                        },
                        series: formattedData
                    });
                });
            </script>
        #else
            <script type="text/javascript" src="js/jquery.min.js"></script>
            <script type="text/javascript" src="js/raphael.js"></script>
            <script type="text/javascript" src="js/jquery.enumerable.js"></script>
            <script type="text/javascript" src="js/jquery.tufte-graph.js"></script>
            <script type="text/javascript" src="js/jquery.rotate.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    jQuery('#stacked-graph').tufteBar({
                        data:[
                            $chart_rows
                        ],
                        color:function (index, stackedIndex) {
                            return ['#88dd11', '#cc1134', '#88aaff', '#FBB917'][stackedIndex]
                        },
                        barLabel: function(index){
                            return ''
                        },
                        barWidth: 0.9,
                        axisLabel:function (index) {
                            if(this[1].label.length > 10) {
                                res = this[1].label.substring(0,10)+"..."
                            } else {
                                res = this[1].label
                            }
                            return res;
                        },
                        legend:{
                            data:["Pending", "Skipped", "Failed", "Passed"],
                            color:function (index) {
                                return ['#FBB917','#88aaff','#cc1134','#88dd11'][index]
                            }
                        }
                    });

                });
            </script>
        #end
    #end

    <style>
        .feature-keyword {
            font-weight: bold;
        }

        .feature-description {
            padding-left: 15px;
            font-style: italic;
            background-color: beige;
        }

        .feature-role {
            font-weight: bold;
        }

        .feature-action {
            font-weight: bold;
        }

        .feature-value {
            font-weight: bold;
        }

        .feature-tags {
            padding-top: 10px;
            padding-left: 15px;
            color: darkblue;
        }

        .scenario-keyword {
            font-weight: bold;
            padding-left: 15px;
        }

        .scenario-scenario_name {
            padding-left: 15px;
        }

        .step-keyword {
            font-weight: bold;
            padding-left: 50px;
        }

        .step-error-message {
            background-color: #FFEEEE;
            padding-left: 50px;
            border: 1px solid #D88A8A;
        }

        .passed {
            background-color: #C5D88A;
        }

        .failed {
            background-color: #D88A8A;
        }

        .skipped {
            background-color: #2DEAEC;
        }

        .undefined {
            background-color: #ebcc81;
        }

        table.stats-table {
            color: black;
            border-width: 1px;
            border-spacing: 2px;
            border-style: outset;
            border-color: gray;
            border-collapse: collapse;
            background-color: white;
        }

        table.stats-table th {
            color: black;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: #66CCEE;
            -moz-border-radius:;
        }

        table.stats-table td {
            color: black;
            text-align: center;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius:;
        }

        .graph {
          margin-bottom: 50px;
          margin-top: 30px;
          clear: both;
          font-family: georgia, serif;
          font-size: 14px;
        }

        .graph-header h3 {
          margin-bottom: 0px;
        }
        .graph-header {
          text-align: center;
        }
        .graph-header p {
          margin-top: 0px;
        }

        .graph .legend td, .graph .legend, .graph .legend tr {
          padding: 0px;
          margin: 0px;
          border-collapse:collapse;
        }

        .graph .legend {
          margin-left: 10px;
        }
        .graph .legend td {
          padding-right: 5px;
        }

        .graph .legend .color-box {
          width: 14px;
          height: 10px;
          overflow: hidden;
        }
    </style>

     <style>
         .graph .label {
                  text-align: center;
                  padding-top: 5px;
                  padding-bottom: 5px;
                    display: block;
                position: absolute;
                right: -5px;
                top: 15px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                }
     </style>
     <!--[if IE]>
         <style>
             .graph .label {
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                      display: block;
                  position: absolute;
                  right: -5px;
                  top: 15px;
         		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
         		right:-15px; top:5px;
         	}
         </style>
         <![endif]-->

</head>
<body id="top">
<div id="fullwidth_header">
    <div class="container_12">
        <h1 class="grid_4 logo"><a href="feature-overview.html" class='ie6fix'>Cucumber</a></h1>

        <div class="grid_6" id="nav">
            <ul>
                #if($fromJenkins)
                  <li><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins</a></li>
                #end
                <li><a href="feature-overview.html">Feature Overview</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="fullwidth_gradient">
    <div class="container_12">
        <div class="grid_9 heading">
            <h2>Tag Overview for Build: $build_number</h2>
            <span class="subhead">The following graph shows number of steps passing, failing and skipped for this build:</span>
        </div>
    </div>
</div>

<div class="container_12">
    <div class="grid_12">

        #if($tags.isEmpty())
            <div><p>You have no tags in your cucumber features</p></div>
        #else

            #if($flashCharts)
        <div style="text-align:center;"><script language="JavaScript" type="text/javascript">
            <!--
            if (AC_FL_RunContent == 0 || DetectFlashVer == 0) {
                alert("This page requires AC_RunActiveContent.js.");
            } else {
                var hasRightVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
                if(hasRightVersion) {
                    AC_FL_RunContent(
                            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,45,2',
                            'width', '600',
                            'height', '350',
                            'scale', 'noscale',
                            'salign', 'TL',
                            'bgcolor', '#777788',
                            'wmode', 'opaque',
                            'movie', 'charts/charts',
                            'src', 'charts/charts',
                            'FlashVars', "library_path=charts/charts_library&xml_data=$chart_data",
                            'id', 'my_chart',
                            'name', 'my_chart',
                            'menu', 'true',
                            'allowFullScreen', 'true',
                            'allowScriptAccess','sameDomain',
                            'quality', 'high',
                            'align', 'middle',
                            'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
                            'play', 'true',
                            'devicefont', 'false'
                    );
                } else {
                    var alternateContent = 'This content requires the Adobe Flash Player. '
                            + '<u><a href=http://www.macromedia.com/go/getflash/>Get Flash</a></u>.';
                    document.write(alternateContent);
                }
            }
            // -->
        </script>
            <noscript>
                <P>This content requires JavaScript.</P>
            </noscript>
        </div>
            #else
                <div>
                    #if ($highCharts)
                    <div style="background-color: #E6FCFF;width:800px;height:450px;border: 1px solid gray;" >
                        <div id='stacked-graph' class='graph' style='width:800px; height: 400px; margin-left: auto; margin-right: auto;'></div>
                    </div>
                    #else
                    <div style="background-color: #E6FCFF;width:800px;height:450px;border: 1px solid gray;" >
                      <div id='stacked-graph' class='graph' style='width:630px; height: 340px;'></div>
                    </div>
                    #end

                    <br/>
                </div>
            #end
        <br/>

        <div class="grid_12 hr"></div>

        <div>
            <br/>
            <h2>Tag Statistics</h2>
            <table class="stats-table">
                #include("/templates/tableHeader.vm")


                #foreach($tag in $tags)

                    #if($tag.getStatus().toString() == "PASSED")
                        #set($bgcolour = "#C5D88A")
                    #else
                        #set($bgcolour = "#D88A8A")
                    #end

                    <tr>
                        <td style="text-align:left;">
                            <a href="$tag.getFileName()">$tag.getTagName()</a>

                            #if ($hasCustomHeader)
                                <br/><span> $customHeaders.get($tag.getTagName())</span>
                            #end

                        </td>
                        <td>$tag.getNumberOfScenarios()</td>
                        <td>$tag.getNumberOfPassingScenarios()</td>
                        <td>$tag.getNumberOfFailingScenarios()</td>
                        <td>$tag.getNumberOfSteps()</td>
                        <td>$tag.getNumberOfPasses()</td>
                        <td>$tag.getNumberOfFailures()</td>
                        <td>$tag.getNumberOfSkipped()</td>
                        <td>$tag.getNumberOfPending()</td>
                        <td>$tag.getDurationOfSteps()</td>
                        <td style="background-color: $bgcolour;">$tag.getRawStatus()</td>
                    </tr>
                #end

                <!--  add row to adjust num of steps -->
                <tr>
                    <td style="background-color:lightgray;font-weight:bold;">background steps </td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalScenarios()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalScenariosPassed()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalScenariosFailed()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalSteps()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalStepsPassed()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalStepsFailed()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalStepsSkipped()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalStepsPending()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$backgrounds.getTotalFormattedDuration()</td>
                    <td style="background-color:lightgray;font-weight:bold;">Totals</td>
                </tr>
                <!--  Summarize all steps and time executions -->
                #set($total_steps = $total_steps + $backgrounds.getTotalSteps())
                #set($total_passes = $total_passes + $backgrounds.getTotalStepsPassed())
                #set($total_fails  = $total_fails + $backgrounds.getTotalStepsFailed())
                #set($total_skipped = $total_skipped + $backgrounds.getTotalStepsSkipped())
                #set($total_pending = $total_pending + $backgrounds.getTotalStepsPending())
                <tr>
                    <td style="background-color:lightgray;font-weight:bold;">$tags.size()</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_scenarios</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_passed_scenarios</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_failed_scenarios</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_steps</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_passes</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_fails</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_skipped</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_pending</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_duration</td>
                    <td style="background-color:lightgray;font-weight:bold;">Totals</td>
                </tr>
            </table>
        </div>

    </div>
</div>

        #end

<div class="container_12">
    <div class="grid_12 hr"></div>
    <div class="grid_12 footer">
        <p style="text-align:center;">Cucumber-JVM Jenkins Report Plugin - version: $version - $time_stamp</p>
    </div>
</div>
<div class="clear"></div>
</body>
</html>
