<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cucumber-JVM Html Reports - Tag: $tag.getTagName() </title>
	<link rel="stylesheet" href="blue/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/skin/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/960.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="blue/css/text.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="blue/favicon.ico" />
<style>
.feature-keyword{font-weight:bold;}
.feature-description{padding-left:15px;font-style:italic;background-color:beige;}
.feature-role{font-weight:bold;}
.feature-action{font-weight:bold;}
.feature-value{font-weight:bold;}
.feature-tags{padding-top:10px;padding-left:15px;color:darkblue;}
.scenario-keyword{font-weight:bold;padding-left:15px;}
.scenario-scenario_name{padding-left:15px;}
.step-keyword{font-weight:bold;padding-left:50px;}
.step-error-message{background-color:#FFEEEE;padding-left:50px;border: 1px solid #D88A8A;}
.passed{background-color:#C5D88A;}
.failed{background-color:#D88A8A;}
.skipped{background-color:#2DEAEC;}
.undefined{background-color: #ebcc81;}

table.stats-table {
color:black;
border-width: 1px;
border-spacing: 2px;
border-style: outset;
border-color: gray;
border-collapse: collapse;
background-color: white;
}
table.stats-table th {
color:black;
border-width: 1px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: #66CCEE;
-moz-border-radius: ;
}
table.stats-table td {
color:black;
text-align: center;
border-width: 1px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: white;
-moz-border-radius: ;
}

table.data-table {
    color: black;
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: #d6d6d6;
    border-collapse: collapse;
    background-color: beige;
}
table.data-table th {
    color:black;
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: #d6d6d6;
    background-color: #66CCEE;
}
table.data-table td {
    color:black;
    text-align: center;
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: #d6d6d6;
    background-color: beige;
}

.data {
   padding-left:50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.output-data {
    padding-left:50px;
    background-color: beige;
}
.doc-string {
    width:auto;
    display:inline-block;
    margin: 10px auto 10px 70px;
    padding: 10px;
    background-color:rgba(255,255,255,0.35);
    border-radius: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 95%;
}
</style>

</head>
<body id="top">
	<div id="fullwidth_header">
		<div class="container_12">
			<h1 class="grid_4 logo"><a href="feature-overview.html" class='ie6fix'>Cucumber</a></h1>
			<div class="grid_6" id="nav">
				<ul>
                    #if($fromJenkins)
                      <li><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins</a></li>
                    #end
					<li><a href="feature-overview.html">Feature Overview</a></li>
					<li><a href="tag-overview.html">Tag Overview</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="fullwidth_gradient">
		<div class="container_12">
			<div class="grid_9 heading">
				<h2>Result for <span style="color:#66CCEE;">$tag.getTagName()</span> in Build: $build_number</h2>
				#if ($hasCustomHeader)
				  <h3>$customHeader</h3>
				#end
			</div>
		</div>
	</div>

	<div class="container_12">
		<div class="grid_12">

            <div>
                <table class="stats-table">
                    #include("/templates/tableHeader.vm")
                    <tr>
                        <td><a href="$tag.getFileName()">$tag.getTagName()</a></td>
                        <td>$tag.getNumberOfScenarios()</td>
                        <td>$tag.getNumberOfPassingScenarios()</td>
                        <td>$tag.getNumberOfFailingScenarios()</td>
                        <td>$tag.getNumberOfSteps()</td>
                        <td>$tag.getNumberOfPasses()</td>
                        <td>$tag.getNumberOfFailures()</td>
                        <td>$tag.getNumberOfSkipped()</td>
                        <td>$tag.getNumberOfPending()</td>
                        <td>$tag.getDurationOfSteps()</td>
                        <td style="background-color: $report_status_colour;">$tag.getRawStatus()</td></tr>

                </table>

            </div>

		<div style="color:black;">
            #foreach($scenario in $tag.getScenarios())
                <div style="margin-bottom:20px;padding:15px;">
                    <div><a href="$scenario.getParentFeatureUri()">View Feature File</a></div>
                $scenario.getScenario().getTagsList()
                $scenario.getScenario().getName()
                #foreach($step in $scenario.getScenario().getSteps().toList())
                  $step.getName()
                    $step.getDocStringOrNothing()
                    #if($step.hasRows())
                        <div class="data $step.getDataTableClass()">
                        <table class="data-table">
                      #foreach($row in $step.getRows())
                       <tr>
                           #foreach($cell in $row.getCells())
                           <td>$cell</td>
                           #end
                       </tr>
                      #end
                      </table>
                        </div>
                    #end
                <div class="output-data">$step.getOutput()</div>
                #end
                </div>
            #end
	</div>
	</div>


	<div class="container_12">
		<div class="grid_12 hr"></div>
		<div class="grid_12 footer">
            <p style="text-align:center;">Cucumber-JVM Jenkins Report Plugin - version: $version - $time_stamp</p>
		</div>
	</div>
	<div class="clear"></div>
</body>
