<style>

h2 {
	font-size: 24px !important;
}

.feature-keyword {
	font-weight: bold;
}

.feature-description {
	padding-left: 15px;
	font-style: italic;
	background-color: beige;
}

.feature-role {
	font-weight: bold;
}

.feature-action {
	font-weight: bold;
}

.feature-value {
	font-weight: bold;
}

.feature-tags {
	padding-top: 10px;
	padding-left: 15px;
	color: darkblue;
}

.scenario-keyword {
	font-weight: bold;
	padding-left: 15px;
}

.scenario-scenario_name {
	padding-left: 15px;
}

.step-keyword {
	font-weight: bold;
	padding-left: 50px;
}

.step-error-message {
	background-color: #FFEEEE;
	padding-left: 50px;
	border: 1px solid #D88A8A;
}

.step-error-message-content {
	//white-space: pre-wrap;
	//white-space: -moz-pre-wrap;
	//white-space: -pre-wrap;
	//white-space: -o-pre-wrap;
	//word-wrap: break-word;
	margin-bottom: 5px;
	overflow: auto;
}

.collapse {
	display:none;
}

.collapse + label {
	font-size: 12px;
	font-weight: bold;
	display:block;
	cursor: pointer;
	cursor: hand;
}

.collapse + label + * {
	display:none;
}

.collapse:checked + label + * {
	display:block;
}

.collapse + label:before {
	background-color: #4F5150;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	content: "+";
	display: block;
	float: left;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

.collapse:checked + label:before {
	content: "\2212";
}

.step-duration {
	float: right;
	padding-right: 15px;
}

.passed {
	background-color: #C5D88A;
}

.failed {
	background-color: #D88A8A;
}

.skipped {
	background-color: #88AAFF;
}

.pending {
	background-color: #FBB907;
}

.undefined {
	background-color: #FBB987;
}

.missing {
	background-color: #FBB9D7;
}

table.stats-table {
	color: black;
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

table.stats-table th {
	color: black;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: #66CCEE;
	-moz-border-radius:;
}

table.stats-table td {
	color: black;
	text-align: center;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius:;
}

table.data-table {
	color: black;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: #d6d6d6;
	border-collapse: collapse;
	background-color: beige;
}

table.data-table th {
	color: black;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: #d6d6d6;
	background-color: #66CCEE;
}

table.data-table td {
	color: black;
	text-align: center;
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: #d6d6d6;
	background-color: beige;
}

.data {
	padding-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.output-data {
	padding-left: 50px;
	background-color: beige;
}

.doc-string {
	width: auto;
	display: inline-block;
	margin: 10px auto 10px 70px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 10px;
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
}

.graph {
	margin-bottom: 50px;
	margin-top: 30px;
	clear: both;
	font-family: georgia, serif;
	font-size: 14px;
}

.graph-header h3 {
	margin-bottom: 0px;
}

.graph-header {
	text-align: center;
}

.graph-header p {
	margin-top: 0px;
}

.graph .legend td, .graph .legend, .graph .legend tr {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.graph .legend {
	margin-left: 10px;
}

.graph .legend td {
	padding-right: 5px;
}

.graph .legend .color-box {
	width: 14px;
	height: 10px;
	overflow: hidden;
}

.graph .label {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	position: absolute;
	right: -5px;
	top: 15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

table#tablesorter thead tr th {
	cursor: pointer;
}

</style>