#macro(includeReportTable, $table_key, $reportable, $parallel)
<div class="container-fluid" id="summary">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="stats-table">

        #includeReportHeader($table_key, $parallel)

        <tbody>
        <tr>
          <td class="tagname">$reportable.getRawName()</td>
          <td>$reportable.getScenarios()</td>
          <td>$reportable.getPassedScenarios()</td>
          <td>$reportable.getFailedScenarios()</td>
          <td>$reportable.getSteps()</td>
          <td>$reportable.getPassedSteps()</td>
          <td #if($reportable.getFailedSteps() != 0)    class="failed"    #end>$reportable.getFailedSteps()</td>
          <td #if($reportable.getSkippedSteps() != 0)   class="skipped"   #end>$reportable.getSkippedSteps()</td>
          <td #if($reportable.getPendingSteps() != 0)   class="pending"   #end>$reportable.getPendingSteps()</td>
          <td #if($reportable.getUndefinedSteps() != 0) class="undefined" #end>$reportable.getUndefinedSteps()</td>
          <td #if($reportable.getMissingSteps() != 0)   class="missing"   #end>$reportable.getMissingSteps()</td>
          <td class="duration">$reportable.getDurations()</td>
          <td class="$reportable.getStatus().getRawName()">$reportable.getStatus().getLabel()</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

#end
