#macro(includeScenario, $elements, $linkToFeature)

  #foreach($scenario in $elements)
    <div class="element">
      #if($linkToFeature)
        <a href="$scenario.getFeature().getReportFileName()">View Feature</a> <i>$scenario.getFeature().getName()</i>
      #end
      #includeTags($scenario.getTags())
      #includeHooks("Before", $scenario.getBefore())

      <div class="keyword-element">
        #includeKeyword($scenario.getKeyword(), $scenario.getStatus(), $scenario.getName())
      </div>
      <div class="description">$scenario.getDescription()</div>

      <div class="steps">
        #foreach($step in $scenario.getSteps())
          <div class="step-details">
            <div class="$step.getStatus().getRawName()">
              <div class="keyword-step">
                #includeKeyword($step.getKeyword(), $step.getStatus(), $step.getName(), $step.getResult())
              </div>
              $step.getErrorMessage()
            </div>
            #if($step.getDocString())
                <pre class="docstring">$step.getDocString().getValue()</pre>
            #end
          </div>

          #if($step.hasRows())
            <table class="arguments-table">
              #foreach($row in $step.getRows())
                <tr>
                  #foreach($cell in $row.getCells())
                    <td>$cell</td>
                  #end
                </tr>
              #end
            </table>
          #end
          $step.getOutput()
          <div class="embeddings">$step.getAttachments()</div>
        #end
      </div>

      #includeHooks("After", $scenario.getAfter())
    </div>
  #end

#end
