#macro(includeBrief, $keyword, $status, $keyword_value, $expandable, $result)

<div class="brief $status.getRawName()">
  <span class="keyword indention">$keyword</span>
  <span class="name">$keyword_value</span>
  #includeDuration($result)
  #if ($expandable)
     <i class="chevron fa fa-fw"></i>
  #end
</div>

#end
