#macro(includeBrief, $keyword, $status, $keyword_value, $expandable, $result)

<div class="brief $status.getRawName()">
  <span class="keyword indention medium-text blue-color">$keyword</span>
  <span class="name medium-thin-text">$keyword_value #if ($expandable)<span class="small-text"><i class="chevron fa fa-fw"></i></span>#end</span>
  #includeDuration($result)
</div>

#end
