#macro(includeDocString, $docString)

#if ($docString)
    <div>
      #set($docStringId = $counter.next())
      <div id="msg-$docStringId" class="collapsable-details">
        <pre style="margin: 10px">$docString.getValue()</pre>
      </div>
    </div>
#end

#end
