#macro(includeOutput, $output)

#if ($output)
  <div class="outputs inner-level">
    #foreach($message in $output.getMessages())
      <div class="output indention">
        #set($outputId = $counter.next())
        <div data-toggle="collapse" class="collapsable-control" data-target="#msg-$outputId">
          #set($index = $foreach.index + 1)
          <a>Output $index</a>
        </div>
        <div id="msg-$outputId" class="collapse collapsable-details">
          <pre>$message</pre>
        </div>
      </div>
    #end
  </div>
#end

#end
