#macro(includeOutput, $outputs, $isPassed)

#if($outputs)
  <div class="outputs inner-level">
    #foreach($output in $outputs)
      #set($outputId = $counter.next())
      #set($index = $foreach.index + 1)
      <div class="output indention">
        <div data-toggle="collapse" class="#if ($isPassed) collapsed #end collapsable-control" data-target="#output-$outputId">
          Output $index
          <i class="chevron fa fa-fw"></i>
        </div>
        <div id="output-$outputId" class="collapse collapsable-details #if (!$isPassed) in #end" #if (!$isPassed) aria-expanded="true" #end>
          <pre class="white-space-normal">
            #foreach($message in $output.getMessages())
              <span>$message</span><br>
            #end
          </pre>
        </div>
      </div>
    #end
  </div>
#end

#end
