#macro(includeTags, $tags)

<div class="tags indention">
  #if (!$tags.isEmpty())
    <b>Tags:</b>
    #foreach($tag in $tags)
       <a href="$tag.getFileName()">$tag.getName()</a>
    #end
  #end
</div>

#end
