#macro(includeTags, $tags)

<div class="tags indention">
  #if (!$tags.isEmpty())
    <i class="fa fa-tags"></i><b><span class="small-text orange-color"> Tags:</span></b>
    #foreach($tag in $tags)
       <a class="small-thin-text" href="$tag.getFileName()">$tag.getName()</a>
    #end
  #end
</div>

#end
