name: github-pages

on:
  push:
    branches:
      # upload demo report only from main branch
      - master

jobs:
  build:
    # Do not run on forks as unnecessary
    if: github.repository_owner == 'damianszczepanik'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: adopt

      - name: Generate demo report
        run: mvn --batch-mode test

      - uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: damianszczepanik/damianszczepanik.github.io
          personal_token: ${{ secrets.GH_PAGES_UPLOAD }}
          publish_branch: master
          publish_dir: target/demo/
